@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap'); /* 나눔고딕 */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap'); /* Roboto */





/* common */
html, body, dl, dt {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

span, em, strong, a {
    display: inline-block;
}

p, span {
    word-break: keep-all;
}

ul, li {
    list-style-type: none;
}

dt, dd {
    display: inline-block;
}

em {
    font-style: normal;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    font-size: 0;
    vertical-align: top;
    display: inline-block;
}

button {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: normal;
    box-sizing: border-box;
}





/* body */
body {
    width: 100%;
    /* height: 100vh; */
    background: url("../img/background_grid.png") fixed;
}





/* header */
header {
    width: 100%;
    height: 96px;
    padding: 0 50px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
    transition: .5s;
}
header.active {
    transform: translateY(-100%);
}
.logo {
    z-index: 2;
}
.logo img {
    width: 140px;
}
nav {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
}
nav.active {
    height: 100vh;
    top: 100%;
    background: #fff;
}
nav > ul {
    width: max-content;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
nav.active > ul {
    width: 80%;
}
nav > ul::after {
    content: "";
    width: 100vw;
    height: 170px;
    background: rgba(255, 255, 255, 0.95);
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20%);
    z-index: -1;
}
nav.active > ul::after {
    display: none;
}
nav > ul:hover::after {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}
nav > ul > li {
    padding-right: 110px;
    display: flex;
    align-items: center;
    position: relative;
}
nav.active > ul > li {
    height: max-content;
    margin-right: 2vw;
    padding: 200px 0 0 0;
    border-bottom: 2px solid #000;
}
nav > ul > li:last-of-type {
    padding-right: 0;
}
nav.active > ul > li:last-of-type {
    padding: 200px 0 0 0;
}
nav > ul > li > a {
    font-size: 1.125rem;
    font-weight: 800;
}
nav.active > ul > li > a {
    padding-right: 6vw;
    font-size: 2.5rem;
}
nav > ul > li > a:hover {
    width: 100%;
    color: #f00;
}
nav > ul > li > a::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #f00;
    margin-top: 3px;
    display: block;
    visibility: hidden;
}
nav > ul > li:hover > a::after {
    visibility: visible;
}
nav.active > ul > li:hover > a::after {
    visibility: hidden;
}
nav .nav_details {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    transform: translateY(-5%);
    visibility: hidden;
    opacity: 0;
    /* transition: .5s; */
}
nav > ul:hover .nav_details {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
}
nav.active .nav_details {
    margin: 20px 0 0 0;
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
}
.nav_details li {
    width: max-content;
    margin-top: 1rem;
    display: inline-block;
}
nav.active .nav_details li {
    margin-top: 0;
}
.nav_details li a {
    font-size: 1rem;
}
nav.active .nav_details li a {
    font-size: 1.125rem;
    padding: 10px 0;
}
.nav_details li a:hover {
    color: #f00;
}
.nav_details li a::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #f00;
    margin-top: 1px;
    display: block;
    visibility: hidden;
}
.nav_details li:hover > a::after {
    visibility: visible;
}
.burger {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.language {
    display: flex;
}
.language li {
    display: flex;
    align-items: center;
}
.language li:last-of-type::before {
    content: "";
    width: 1px;
    height: 14px;
    background: #d8d8d8;
    margin: 0 16px;
    display: inline-block;
}
.language li a {
    color: #a0a0a0;
    text-transform: uppercase;
}
.language li a:hover {
    color: #000;
}
.language li a.active {
    color: #000;
}
.burger__button {
    width: 16px;
    height: 10px;
    position: relative;    
}
.burger__button span {
    width: 16px;
    height: 1px;
    background: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
}
.burger__button span:nth-of-type(1) {
    top: 0;
}
.burger__button span:nth-of-type(2) {
    bottom: 0;
}
.burger__button.active span:nth-of-type(1) {
    left: 0;
    top: 50%;
    transform: rotate(135deg) translateY(50%);
}
.burger__button.active span:nth-of-type(2) {
    left: 0;
    bottom: 50%;
    transform: rotate(-135deg) translateY(-50%);
}

/*header_online*/
header.online {
    background: transparent;
}
header.online nav > ul > li > a {
    color: #fff;
}
header.online nav > ul > li > a::after {
    background: #fff;
}
header.online .language li a {
    color: #aaa;
}
header.online .language li a.active {
    color: #fff;
}
header.online .burger__button span {
    background: #fff;
}




/* aside */
aside {
    height: calc(100% - 140px);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}
.scroll_bar {
    width: 5px;
    height: 140px;
    border-radius: 5px;
    background: #f00;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: .5s;
}
.scroll_bar.active {
    opacity: 0;
}
::-webkit-scrollbar {
    display: none;
}





/* footer */
footer {
    width: 100%;
    height: 250px;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}





/* common */
.more {
    width: max-content;
    display: inline-flex;
    align-items: center;
}
.more span {
    width: 20px;
    height: 2px;
    margin-right: 13px;
    background: #f00;
    transition: .5s;
}
.more:hover span {
    width: 40px;
}
.more p {
    font-size: 1.25rem;
    font-weight: 700;
}
.more_long {
    width: max-content;
    padding: 5px 10px 0 5px;
    display: inline-flex;
    align-items: center;
}
.more_long span {
    width: 20px;
    height: 1px;
    margin-right: 13px;
    background: #f00;
    transition: .5s;
}
.more_long:hover span {
    width: 50px;
    background: #fff;
}
.more_long p {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
}

.loading {
    display: none;
}

.plus {
    width: 60px;
    padding: 12px;
    background: #f00;
    position: absolute;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.slide_up {
    transform: translateY(20%);
    opacity: 0;
    transition: 1s;
}
.slide_up.active {
    transform: translateY(0);
    opacity: 1;
}