@import "https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap";
html, body, dl, dt {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  width: 100%;
  background: url("../img/background_grid.png") fixed; }

span, em, strong, a {
  display: inline-block; }

p, span, small, figcaption, h1, h2, h3, h4, h5, h6 {
  word-break: keep-all; }

ul, li {
  list-style-type: none; }

dt, dd {
  display: inline-block; }

em {
  font-style: normal; }

a {
  color: #000;
  text-decoration: none;
  display: block; }

img {
  font-size: 0;
  vertical-align: top;
  display: inline-block; }

button {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer; }

input {
  border: 0;
  background: transparent;
  outline: 0; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', 'Roboto', sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: normal;
  box-sizing: border-box; }

.header {
  width: 100%;
  height: 96px;
  padding: 0 50px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
  transition: .3s; }
  .header.active {
    transform: translateY(-100%); }
  .header.online {
    background: transparent; }
    .header.online .header__nav_list_link {
      color: #fff; }
      .header.online .header__nav_list_link::after {
        background: #fff; }
    .header.online .header__burger_language_link {
      color: #aaa; }
      .header.online .header__burger_language_link.active {
        color: #fff; }
    .header.online .header__burger_button_line {
      background: #fff; }
  .header__logo {
    z-index: 2; }
    .header__logo_img {
      width: 140px; }
  .header__nav {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%); }
    .header__nav.active {
      height: 100vh;
      top: 100%;
      background: #fff; }
      .header__nav.active .header__nav_detail-list {
        margin: 20px 0 0 0;
        visibility: visible;
        opacity: 1;
        transform: translateY(0%); }
        .header__nav.active .header__nav_detail-list_box {
          margin-top: 0; }
        .header__nav.active .header__nav_detail-list_link {
          font-size: 1.125rem;
          padding: 10px 0; }
    .header__nav_list {
      width: max-content;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center; }
      .header__nav_list:hover::after {
        height: 170px;
        visibility: visible;
        opacity: 1; }
      .header__nav_list:hover .header__nav_detail-list {
        visibility: visible;
        opacity: 1;
        transform: translateY(0%); }
      .header__nav_list::after {
        content: "";
        width: 100vw;
        height: 140px;
        background: rgba(255, 255, 255, 0.95);
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        visibility: hidden;
        opacity: 0;
        z-index: -5;
        transition: .3s; }
      .header__nav_list_box {
        padding-right: 110px;
        display: flex;
        align-items: center;
        position: relative; }
        .header__nav_list_box:last-of-type {
          padding-right: 0; }
        .header__nav_list_box:hover .header__nav_list_link::after {
          visibility: visible; }
      .header__nav_list_link {
        font-size: 1.125rem;
        font-weight: 800; }
        .header__nav_list_link:hover {
          width: 100%;
          color: #f00; }
        .header__nav_list_link::after {
          content: "";
          width: 100%;
          height: 3px;
          background: #f00;
          margin-top: 3px;
          display: block;
          visibility: hidden; }
    .header__nav.active .header__nav_list {
      width: 80%; }
      .header__nav.active .header__nav_list:hover .header__nav_detail-list {
        visibility: visible;
        opacity: 1;
        transform: translateY(0%); }
      .header__nav.active .header__nav_list_box {
        height: max-content;
        margin-right: 2vw;
        padding: 200px 0 0 0;
        border-bottom: 2px solid #000; }
        .header__nav.active .header__nav_list_box:last-of-type {
          padding: 200px 0 0 0; }
        .header__nav.active .header__nav_list_box:hover .header__nav_list_link::after {
          visibility: hidden; }
      .header__nav.active .header__nav_list_link {
        padding-right: 6vw;
        font-size: 2.5rem; }
    .header__nav_detail-list {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 100%;
      transform: translateY(-10%);
      visibility: hidden;
      opacity: 0;
      transition: .3s; }
      .header__nav_detail-list_box {
        width: max-content;
        margin-top: 1rem;
        display: inline-block; }
        .header__nav_detail-list_box:hover .header__nav_detail-list_link {
          visibility: visible; }
      .header__nav_detail-list_link {
        font-size: 1rem; }
        .header__nav_detail-list_link:hover {
          color: #f00; }
        .header__nav_detail-list_link::after {
          content: "";
          width: 100%;
          height: 2px;
          background: #f00;
          margin-top: 1px;
          display: block;
          visibility: hidden; }
  .header__burger {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2; }
    .header__burger_language {
      display: flex; }
      .header__burger_language_name {
        display: flex;
        align-items: center; }
        .header__burger_language_name:last-of-type::before {
          content: "";
          width: 1px;
          height: 14px;
          background: #d8d8d8;
          margin: 0 16px;
          display: inline-block; }
      .header__burger_language_link {
        color: #a0a0a0;
        text-transform: uppercase; }
        .header__burger_language_link:hover {
          color: #000; }
        .header__burger_language_link.active {
          color: #000; }
    .header__burger_button {
      width: 16px;
      height: 10px;
      position: relative; }
      .header__burger_button.active .header__burger_button_line {
        left: 0; }
        .header__burger_button.active .header__burger_button_line:first-of-type {
          top: 50%;
          transform: rotate(135deg) translateY(50%); }
        .header__burger_button.active .header__burger_button_line:last-of-type {
          bottom: 50%;
          transform: rotate(-135deg) translateY(-50%); }
      .header__burger_button_line {
        width: 16px;
        height: 1px;
        background: #000;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: .3s; }
        .header__burger_button_line:first-of-type {
          top: 0; }
        .header__burger_button_line:last-of-type {
          bottom: 0; }

aside {
  height: calc(100% - 140px);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000; }

.scroll_bar {
  width: 5px;
  height: 140px;
  border-radius: 5px;
  background: #f00;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: .5s; }
  .scroll_bar.active {
    opacity: 0; }

::-webkit-scrollbar {
  display: none; }

footer {
  width: 100%;
  height: 250px;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }

.more {
  width: max-content;
  display: inline-flex;
  align-items: center; }
  .more:hover .more__line {
    width: 40px; }
  .more__line {
    width: 20px;
    height: 2px;
    margin-right: 13px;
    background: #f00;
    transition: .3s; }
  .more__text {
    font-size: 1.25rem;
    font-weight: 700; }

.more-long {
  width: max-content;
  padding: 5px 10px 0 5px;
  display: inline-flex;
  align-items: center; }
  .more-long:hover .more-long__line {
    width: 50px;
    background: #fff; }
  .more-long__line {
    width: 20px;
    height: 1px;
    margin-right: 13px;
    background: #f00;
    transition: .3s; }
  .more-long__text {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700; }

.loading {
  display: none; }

.plus {
  width: 60px;
  padding: 12px;
  background: #f00;
  position: absolute;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: .3s; }

.slide-up {
  transform: translateY(20%);
  opacity: 0;
  transition: 1s; }
  .slide-up.active {
    transform: translateY(0);
    opacity: 1; }

@media screen and (max-width: 1024px) {
  .header.active {
    transform: translateY(0); }
  .header__nav.active .header__nav_list_box {
    margin-right: 2vw;
    padding: 0;
    margin: 230px 0 0 0; }
    .header__nav.active .header__nav_list_box:first-of-type {
      margin: 30px 0 0 0; }
    .header__nav.active .header__nav_list_box:last-of-type {
      padding: 0; }
  .header__nav_list {
    display: none; }
    .header__nav_list.flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }

  footer {
    height: 150px; } }
@media screen and (max-width: 425px) {
  .header {
    padding: 0 30px; }
    .header__nav.active .header__nav_list_box {
      margin: 200px 0 0 0; }
      .header__nav.active .header__nav_list_box:first-of-type {
        margin: 0; }
    .header__nav.active .header__nav_detail-list {
      margin: 10px 0 0 0; }

  aside {
    display: none; } }
@media screen and (max-width: 375px) {
  .header__nav.active .header__nav_list_link {
    font-size: 2rem; }
  .header__nav.active .header__nav_list_box {
    margin: 180px 0 0 0; }
  .header__nav.active .header__nav_detail-list_link {
    font-size: 1rem;
    padding: 10px 0; } }

/*# sourceMappingURL=common.css.map */
