// 반응형 mixin --------------------------------------

$desktop-m-width : 1440px;
$tablet-l-width : 1024px;
$tablet-s-width : 768px;
$mob-l-width : 640px;
$mob-m-width : 425px;
$mob-s-width : 375px;
 
// -------------------------------------------------- 

// PC large
@mixin pc-mid {
	@media screen and (max-width: #{$desktop-m-width}) {
		@content;
	}
}
// 태블릿 large
@mixin tab-large {
	@media screen and (max-width: #{$tablet-l-width}) {
		@content;
	}
}
// 태블릿 small
@mixin tab-small {
	@media screen and (max-width: #{$tablet-s-width}) {
		@content;
	}
}
// 모바일 large
@mixin mob-large {
	@media screen and (max-width: #{$mob-l-width}) {
		@content;
	}
}
// 모바일 mid
@mixin mob-mid {
	@media screen and (max-width: #{$mob-m-width}) {
		@content;
	}
}
// 모바일 small
@mixin mob-small {
	@media screen and (max-width: #{$mob-s-width}) {
		@content;
	}
}

// --------------------------------------------------

//반응형 시작 -------------------------------------------------------------------
@include pc-mid { //1440px 이하 ------------------------------------------------
}
@include tab-large { //1024px 이하 ------------------------------------------------
}
@include tab-small { //768px 이하 ------------------------------------------------
}
@include mob-large { //640px 이하 ------------------------------------------------
}
@include mob-mid { //425px 이하 ------------------------------------------------
}
@include mob-small { //375px 이하 ------------------------------------------------
}
// 반응형 끝 -------------------------------------------------------------------

// --------------------------------------------------