// software mixin --------------------------------------

@mixin backBtn { //뒤로가기 버튼
    &.active {
        height: 100%;
        padding: 100px 50px;
    }
    &__prev {
        border-radius: 50px;
        padding: 10px;
        background: #fff;
        position: absolute;
        left: 50px;
        top: 100px;

        &_img {
            width: 30px;
        }
    }    
}

@mixin introduce { // 소개 영상
    &__introduce {
        width: 70%;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-45%);
        visibility: hidden;
        opacity: 0;
        transition: .5s;

        &.active {
            visibility: visible;
            opacity: 1;
        }
        &_title {
            margin-bottom: 20px;
            font-size: 3.125rem;
            font-weight: 800;
            color: #fff;
        }
        &_video {
            width: 100%;
            height: 800px;
        }
    }
}

// --------------------------------------------------



// 반응형 mixin --------------------------------------

$desktop-m-width : 1440px;
$tablet-l-width : 1024px;
$tablet-s-width : 768px;
$mob-l-width : 640px;
$mob-m-width : 425px;
$mob-s-width : 375px;
 
// -------------------------------------------------- 

// PC large
@mixin pc-mid {
	@media screen and (max-width: #{$desktop-m-width}) {
		@content;
	}
}
// 태블릿 large
@mixin tab-large {
	@media screen and (max-width: #{$tablet-l-width}) {
		@content;
	}
}
// 태블릿 small
@mixin tab-small {
	@media screen and (max-width: #{$tablet-s-width}) {
		@content;
	}
}
// 모바일 large
@mixin mob-large {
	@media screen and (max-width: #{$mob-l-width}) {
		@content;
	}
}
// 모바일 mid
@mixin mob-mid {
	@media screen and (max-width: #{$mob-m-width}) {
		@content;
	}
}
// 모바일 small
@mixin mob-small {
	@media screen and (max-width: #{$mob-s-width}) {
		@content;
	}
}

// --------------------------------------------------

//반응형 시작 -------------------------------------------------------------------
@include pc-mid { //1440px 이하 ------------------------------------------------
}
@include tab-large { //1024px 이하 ------------------------------------------------
}
@include tab-small { //768px 이하 ------------------------------------------------
}
@include mob-large { //640px 이하 ------------------------------------------------
}
@include mob-mid { //425px 이하 ------------------------------------------------
}
@include mob-small { //375px 이하 ------------------------------------------------
}
// 반응형 끝 -------------------------------------------------------------------

// --------------------------------------------------