@import url(common.css);
body {
  background: none; }

main {
  width: 100%;
  height: 100vh;
  display: flex; }

.life, .ring, .cart, .super {
  width: 100%;
  height: 0;
  padding: 0 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.7s cubic-bezier(0.76, 0, 0.24, 1);
  overflow: hidden; }

.visual {
  width: 100%;
  height: 100%;
  flex: 1;
  transition: 0.7s cubic-bezier(0.87, 0, 0.13, 1);
  position: relative;
  overflow: hidden; }
  .visual:hover {
    flex: 2; }
    .visual:hover::before {
      visibility: hidden;
      opacity: 0; }
  .visual.active {
    flex: 0; }
  .visual::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: 0.7s cubic-bezier(0.87, 0, 0.13, 1); }
  .visual__title {
    display: none; }
  .visual__contents {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    transition: 0.7s cubic-bezier(0.76, 0, 0.24, 1); }
    .visual__contents.hide {
      height: 0; }
    .visual__contents_btn {
      width: 200px;
      height: 100px;
      margin-right: 80px;
      color: #fff;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 20px;
      position: relative;
      transform: translateY(100%);
      transition: 0.7s transform cubic-bezier(0.76, 0, 0.24, 1), 0.7s opacity, 0.7s visibility;
      overflow: hidden;
      visibility: hidden;
      z-index: 2;
      opacity: 0; }
      .visual__contents_btn:hover {
        color: #000; }
        .visual__contents_btn:hover::before {
          height: 100%;
          top: 0; }
      .visual__contents_btn::before {
        content: "";
        width: 100%;
        height: 0;
        background: rgba(255, 255, 255, 0.9);
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: -1; }
      .visual__contents_btn:last-of-type {
        margin-right: 0; }
    .visual__contents.active .visual__contents_btn {
      transform: translateY(0);
      visibility: visible;
      opacity: 1; }
    .visual__contents.hide .visual__contents_btn {
      transform: translateY(100%); }
  .visual:nth-of-type(1) .visual__contents {
    background-image: url("../img/visual00.jpg"); }
  .visual:nth-of-type(2) .visual__contents {
    background-image: url("../img/visual01.jpg"); }
  .visual:nth-of-type(3) .visual__contents {
    background-image: url("../img/visual02.jpg"); }
  .visual:nth-of-type(4) .visual__contents {
    background-image: url("../img/visual03.jpg"); }

.life {
  background: url("../img/software/00/content_bg00_pc.jpg"); }
  .life.active {
    height: 100%;
    padding: 100px 50px; }
  .life__prev {
    border-radius: 50px;
    padding: 10px;
    background: #fff;
    position: absolute;
    left: 50px;
    top: 100px;
    z-index: 2; }
    .life__prev_img {
      width: 30px; }
  .life__contents {
    width: 70%;
    margin: 0 auto;
    padding: 30px 80px;
    border-radius: 50px;
    background: url("../img/software/00/handmade_bg01_pc.jpg");
    text-align: center;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -45%);
    transition: .5s;
    visibility: hidden;
    opacity: 0; }
    .life__contents.active {
      left: 50%;
      top: 50%;
      visibility: visible;
      opacity: 1; }
    .life__contents_title {
      margin-bottom: 20px;
      font-size: 3.125rem;
      font-weight: 800; }
    .life__contents_top {
      margin-bottom: 20px;
      display: flex; }
      .life__contents_top_main {
        transition: .5s; }
        .life__contents_top_main_title {
          line-height: 2rem; }
      .life__contents_top_sub {
        padding: 30px; }
        .life__contents_top_sub_img {
          width: 200px;
          cursor: pointer; }
          .life__contents_top_sub_img:nth-of-type(1) {
            transform: rotate(15deg); }
          .life__contents_top_sub_img:nth-of-type(2) {
            transform: rotate(-20deg); }
    .life__contents_bottom {
      display: flex; }
      .life__contents_bottom_sub {
        padding: 30px; }
        .life__contents_bottom_sub_img {
          width: 200px;
          cursor: pointer; }
          .life__contents_bottom_sub_img:nth-of-type(1) {
            transform: rotate(15deg); }
          .life__contents_bottom_sub_img:nth-of-type(2) {
            transform: rotate(-20deg); }
          .life__contents_bottom_sub_img:nth-of-type(3) {
            transform: rotate(-10deg); }
          .life__contents_bottom_sub_img:nth-of-type(4) {
            transform: rotate(15deg); }
          .life__contents_bottom_sub_img:nth-of-type(5) {
            transform: rotate(5deg); }
      .life__contents_bottom_main {
        transition: .5s; }
        .life__contents_bottom_main_title {
          line-height: 2rem; }
  .life__introduce {
    width: 70%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    visibility: hidden;
    opacity: 0;
    transition: .5s; }
    .life__introduce.active {
      visibility: visible;
      opacity: 1; }
    .life__introduce_title {
      margin-bottom: 20px;
      font-size: 3.125rem;
      font-weight: 800;
      color: #fff; }
    .life__introduce_video {
      width: 100%;
      height: 800px; }

.ring {
  background: url("../img/software/01/visual.jpg"); }
  .ring.active {
    height: 100%;
    padding: 100px 50px; }
  .ring__prev {
    border-radius: 50px;
    padding: 10px;
    background: #fff;
    position: absolute;
    left: 50px;
    top: 100px;
    z-index: 2; }
    .ring__prev_img {
      width: 30px; }
  .ring__contents {
    width: 70%;
    margin: 0 auto;
    padding: 30px 80px;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -45%);
    transition: .5s;
    visibility: hidden;
    opacity: 0; }
    .ring__contents.active {
      left: 50%;
      top: 50%;
      visibility: visible;
      opacity: 1; }
    .ring__contents_title {
      margin-bottom: 50px;
      font-size: 3.125rem;
      font-weight: 800;
      color: #fff; }
    .ring__contents_list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .ring__contents_list_box {
        width: 220px;
        height: 220px;
        margin: 0 60px 60px 0;
        border-radius: 100%;
        background: #fff;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: .5s; }
        .ring__contents_list_box:hover {
          transform: rotateY(180deg); }
        .ring__contents_list_box::before {
          content: "";
          width: 100%;
          height: 10%;
          background: #ff8e00;
          display: block;
          position: absolute;
          left: 0;
          top: 0; }
        .ring__contents_list_box:nth-of-type(4n) {
          margin: 0 0 60px 0; }
        .ring__contents_list_box:hover .ring__contents_list_img {
          opacity: 0; }
      .ring__contents_list_img {
        width: 220px;
        background: #fff;
        z-index: 2;
        opacity: 1;
        transition: .2s; }
      .ring__contents_list_text {
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        font-weight: 800;
        color: #fff;
        background: #ff8e00;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotateY(180deg);
        z-index: 1; }
  .ring__introduce {
    width: 70%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    visibility: hidden;
    opacity: 0;
    transition: .5s; }
    .ring__introduce.active {
      visibility: visible;
      opacity: 1; }
    .ring__introduce_title {
      margin-bottom: 20px;
      font-size: 3.125rem;
      font-weight: 800;
      color: #fff; }
    .ring__introduce_video {
      width: 100%;
      height: 800px; }

.cart {
  background: url("../img/software/02/bg_page-illust.jpg"); }
  .cart.active {
    height: 100%;
    padding: 100px 50px; }
  .cart__prev {
    border-radius: 50px;
    padding: 10px;
    background: #fff;
    position: absolute;
    left: 50px;
    top: 100px;
    z-index: 2; }
    .cart__prev_img {
      width: 30px; }
  .cart__contents {
    width: 70%;
    margin: 0 auto;
    padding: 30px 80px;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -45%);
    transition: .5s;
    visibility: hidden;
    opacity: 0; }
    .cart__contents.active {
      left: 50%;
      top: 50%;
      visibility: visible;
      opacity: 1; }
    .cart__contents_title {
      margin-bottom: 50px;
      font-size: 3.125rem;
      font-weight: 800;
      color: #fff; }
    .cart__contents_list {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .cart__contents_list_box:nth-of-type(1) {
        background: url("../img/software/02/img_detail01.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(2) {
        background: url("../img/software/02/img_detail02.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(3) {
        background: url("../img/software/02/img_detail03.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(4) {
        background: url("../img/software/02/img_detail04.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(5) {
        background: url("../img/software/02/img_detail05.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(6) {
        background: url("../img/software/02/img_detail06.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(7) {
        background: url("../img/software/02/img_detail07.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(8) {
        background: url("../img/software/02/img_detail08.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(9) {
        background: url("../img/software/02/img_detail09.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(10) {
        background: url("../img/software/02/img_detail010.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(11) {
        background: url("../img/software/02/img_detail011.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(12) {
        background: url("../img/software/02/img_detail012.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(13) {
        background: url("../img/software/02/img_detail013.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(14) {
        background: url("../img/software/02/img_detail014.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(15) {
        background: url("../img/software/02/img_detail015.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(16) {
        background: url("../img/software/02/img_detail016.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(17) {
        background: url("../img/software/02/img_detail017.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(18) {
        background: url("../img/software/02/img_detail018.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(19) {
        background: url("../img/software/02/img_detail019.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(20) {
        background: url("../img/software/02/img_detail020.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(21) {
        background: url("../img/software/02/img_detail021.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(22) {
        background: url("../img/software/02/img_detail022.png") no-repeat center/cover; }
      .cart__contents_list_box:nth-of-type(23) {
        background: url("../img/software/02/img_detail023.png") no-repeat center/cover; }
      .cart__contents_list_box {
        width: 150px;
        height: 150px;
        position: relative;
        cursor: pointer;
        margin: 15px; }
        .cart__contents_list_box::after {
          content: "";
          width: 200px;
          height: 200px;
          background: url("../img/software/02/cursor.png") no-repeat center/cover;
          display: none;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%); }
        .cart__contents_list_box:hover::after {
          display: block;
          animation: cursor 1s infinite cubic-bezier(0, 0.55, 0.45, 1); }
@keyframes cursor {
  50% {
    width: 170px;
    height: 170px; }
  100% {
    width: 200px;
    height: 200px; } }
      .cart__contents_list_img {
        width: 150px;
        position: relative; }
  .cart__detail {
    width: 100vw;
    height: 80vh;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .cart__detail.active {
      display: flex; }
    .cart__detail_title {
      font-size: 3rem;
      font-weight: 800;
      color: #fff; }
    .cart__detail_sub {
      line-height: 1.75rem;
      color: #fff; }
    .cart__detail_close {
      width: 50px;
      height: 50px;
      background: #ff0a64;
      border-radius: 30px;
      position: absolute;
      right: 50px;
      top: 50px; }
  .cart__introduce {
    width: 70%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    visibility: hidden;
    opacity: 0;
    transition: .5s; }
    .cart__introduce.active {
      visibility: visible;
      opacity: 1; }
    .cart__introduce_title {
      margin-bottom: 20px;
      font-size: 3.125rem;
      font-weight: 800;
      color: #fff; }
    .cart__introduce_video {
      width: 100%;
      height: 800px; }

.super {
  background: url("../img/software/03/bg.jpg"); }
  .super.active {
    height: 100%;
    padding: 100px 50px; }
  .super__prev {
    border-radius: 50px;
    padding: 10px;
    background: #fff;
    position: absolute;
    left: 50px;
    top: 100px;
    z-index: 2; }
    .super__prev_img {
      width: 30px; }
  .super__contents {
    width: 100%;
    margin: 0 auto;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -45%);
    transition: .5s;
    visibility: hidden;
    opacity: 0; }
    .super__contents.active {
      left: 50%;
      top: 50%;
      visibility: visible;
      opacity: 1; }
    .super__contents_title {
      margin-bottom: 50px;
      font-size: 3.125rem;
      font-weight: 800;
      color: #fff;
      display: inline-block; }
    .super__contents_list {
      width: 100%;
      height: 720px;
      display: flex;
      overflow: hidden; }
      .super__contents_list::after {
        content: "";
        width: 0;
        height: 5px;
        background: #f00;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        animation: slideBar 5s infinite linear; }
@keyframes slideBar {
  100% {
    width: 100%; } }
      .super__contents_list_box {
        width: 100%;
        padding-left: 5%;
        display: flex;
        flex: 0 0 100%;
        justify-content: space-between;
        transition: cubic-bezier(0.76, 0, 0.24, 1); }
        .super__contents_list_box:nth-of-type(1) .super__contents_list_img, .super__contents_list_box:nth-of-type(4) .super__contents_list_img {
          background: url("../img/software/03/mode00.jpg") no-repeat center/cover; }
        .super__contents_list_box:nth-of-type(2) .super__contents_list_img {
          background: url("../img/software/03/mode01.jpg") no-repeat center/cover; }
        .super__contents_list_box:nth-of-type(3) .super__contents_list_img {
          background: url("../img/software/03/mode02.jpg") no-repeat center/cover; }
      .super__contents_list_img {
        width: 100%; }
      .super__contents_list_text {
        height: 100%;
        padding: 100px 0 0 60px;
        text-align: start; }
        .super__contents_list_text_title {
          width: 500px;
          margin-bottom: 50px;
          font-size: 2.5rem;
          font-weight: 800;
          color: #f00;
          position: relative; }
          .super__contents_list_text_title::after {
            content: "";
            width: 700px;
            height: 15px;
            background: #f00;
            display: block;
            position: absolute;
            right: 0;
            top: 100%; }
        .super__contents_list_text_sub {
          font-size: 1.25rem;
          font-weight: 700;
          color: #fff;
          line-height: 2rem; }
  .super__introduce {
    width: 70%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    visibility: hidden;
    opacity: 0;
    transition: .5s; }
    .super__introduce.active {
      visibility: visible;
      opacity: 1; }
    .super__introduce_title {
      margin-bottom: 20px;
      font-size: 3.125rem;
      font-weight: 800;
      color: #fff; }
    .super__introduce_video {
      width: 100%;
      height: 800px; }

@media screen and (max-width: 1440px) {
  .life__contents {
    width: 95%; }
    .life__contents_title {
      font-size: 3rem; }
    .life__contents_top_main_img {
      width: 500px; }
    .life__contents_bottom_main_img {
      width: 500px; }
  .life__introduce {
    width: 95%; }

  .ring__contents {
    width: 95%; }
  .ring__introduce {
    width: 95%; }

  .cart__contents {
    width: 95%; }
  .cart__introduce {
    width: 95%; }

  .super__introduce {
    width: 95%; } }
@media screen and (max-width: 1024px) {
  .life__contents {
    padding: 40px 30px; }
    .life__contents_title {
      font-size: 2rem; }
    .life__contents_top_main_title {
      font-size: .9rem;
      line-height: 1.8rem; }
    .life__contents_top_main_img {
      width: 350px; }
    .life__contents_top_sub {
      padding: 30px 0; }
      .life__contents_top_sub_img {
        width: 160px; }
    .life__contents_bottom_main_title {
      font-size: .9rem;
      line-height: 1.8rem; }
    .life__contents_bottom_main_img {
      width: 350px; }
    .life__contents_bottom_sub {
      padding: 30px 0; }
      .life__contents_bottom_sub_img {
        width: 160px; }
  .life__introduce_video {
    width: 100%;
    height: 500px; }

  .ring__contents_list_box {
    width: 180px;
    height: 180px;
    margin: 0px 20px 60px 0; }
  .ring__introduce_video {
    width: 100%;
    height: 500px; }

  .cart__introduce_video {
    width: 100%;
    height: 500px; }

  .super__contents_list {
    height: 500px; }
  .super__introduce_video {
    width: 100%;
    height: 500px; } }
@media screen and (max-width: 768px) {
  .visual__contents_btn {
    width: 170px;
    height: 80px;
    margin-right: 40px; }

  .life__contents_top_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .life__contents_top_sub {
    padding: 20px 0; }
  .life__contents_bottom_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .life__contents_bottom_sub {
    padding: 20px 0; }

  .ring__contents {
    padding: 30px 30px; }
    .ring__contents_list_box {
      width: 150px;
      height: 150px; }
    .ring__contents_list_img {
      width: 150px; }

  .cart__contents {
    padding: 30px 0; }
    .cart__contents_title {
      font-size: 2.125rem;
      margin-bottom: 20px; }
    .cart__contents_list_box {
      width: 80px;
      height: 80px; }
      .cart__contents_list_box:hover::after {
        display: none; }
  .cart__detail_title {
    font-size: 2rem; }
  .cart__detail_img {
    width: 35%; }

  .super__contents_list_text {
    padding: 40px 0 0 40px; }
    .super__contents_list_text_title {
      width: 350px; }
      .super__contents_list_text_title::after {
        width: 450px; } }
@media screen and (max-width: 640px) {
  main {
    flex-direction: column; }

  .life__contents_title {
    margin-bottom: 10px;
    font-size: 1.5rem; }
  .life__contents_bottom_sub {
    padding: 0; }

  .ring__contents_title {
    font-size: 2.125rem; }
  .ring__contents_list_box {
    width: 120px;
    height: 120px; }
  .ring__contents_list_img {
    width: 120px; }

  .cart__contents {
    padding: 30px 10px; }
    .cart__contents_title {
      margin-bottom: 20px;
      font-size: 2rem; }
    .cart__contents_list_box {
      width: 70px;
      height: 70px;
      margin: 10px; }

  .super__contents_title {
    font-size: 2.125rem; }
  .super__contents_list_box {
    padding-left: 0; }
  .super__contents_list_text {
    padding: 25px 0 0 20px; }
    .super__contents_list_text_title {
      width: 250px;
      font-size: 2rem; }
      .super__contents_list_text_title::after {
        width: 320px;
        height: 10px; }
    .super__contents_list_text_sub {
      font-size: 1rem; } }
@media screen and (max-width: 425px) {
  .visual__contents_btn {
    width: 120px;
    height: 60px;
    margin-right: 20px; }

  .life__contents {
    padding: 40px 10px; }
    .life__contents_title {
      font-size: 1.25rem; }
    .life__contents_top {
      flex-direction: column; }
      .life__contents_top_main_title {
        display: none; }
      .life__contents_top_main_img {
        width: 300px; }
      .life__contents_top_sub {
        padding: 0; }
        .life__contents_top_sub_img {
          width: 100px; }
    .life__contents_bottom {
      flex-direction: column-reverse; }
      .life__contents_bottom_main_title {
        display: none; }
      .life__contents_bottom_main_img {
        width: 300px; }
      .life__contents_bottom_sub_img {
        width: 100px; }
  .life__prev {
    left: 20px; }
    .life__prev_img {
      width: 25px; }
  .life__introduce_title {
    font-size: 2rem; }

  .ring__contents {
    padding: 30px 0; }
    .ring__contents_list_box {
      width: 80px;
      height: 80px; }
    .ring__contents_list_img {
      width: 80px; }
    .ring__contents_list_text {
      font-size: 1rem; }
  .ring__prev {
    left: 20px; }
    .ring__prev_img {
      width: 25px; }
  .ring__introduce_title {
    font-size: 2rem; }

  .cart__contents {
    padding: 30px 0; }
    .cart__contents_title {
      font-size: 1.5rem; }
    .cart__contents_list_box {
      margin: 5px; }
  .cart__prev {
    left: 20px; }
    .cart__prev_img {
      width: 25px; }
  .cart__introduce_title {
    font-size: 2rem; }

  .super__contents_title {
    margin-bottom: 20px;
    font-size: 1.5rem; }
  .super__contents_list {
    height: 400px; }
    .super__contents_list_text_title {
      width: 180px;
      margin-bottom: 30px;
      font-size: 1.75rem; }
      .super__contents_list_text_title::after {
        width: 250px;
        height: 7px; }
    .super__contents_list_text_sub {
      font-size: .9rem; }
  .super__prev {
    left: 20px; }
    .super__prev_img {
      width: 25px; }
  .super__introduce_title {
    font-size: 2rem; }

  .life__prev {
    left: 20px; }
    .life__prev_img {
      width: 25px; }
  .life__introduce_title {
    font-size: 2rem; } }
@media screen and (max-width: 375px) {
  .life__contents_title {
    font-size: 1.125rem; }

  .cart__contents_title {
    font-size: 1.25rem; }
  .cart__contents_list_box {
    width: 50px;
    height: 50px; }

  .ring__contents_title {
    font-size: 1.75rem; }
  .ring__contents_list_box {
    width: 180px;
    height: 180px;
    margin: 0px 10px 60px 0; } }

/*# sourceMappingURL=nintendo_software.css.map */
