//import 시작 -------------------------------------------------------------------
@import "common.css";
@import "mixin.scss";
//import 끝 -------------------------------------------------------------------



//메인 시작 -------------------------------------------------------------------
main {
    width: 100%;
    padding: 96px 12% 80px;
    background: #fff;
}



//타이틀 시작 -------------------------------------------------------------------
.title {
    margin: 100px 0 30px 0;

    &__main {
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.4;
    }
    &__sub {
        margin: 0 0 10px 0;
        font-size: 1.25rem;
        font-weight: 700;
        display: block;
    }
}
//타이틀 끝 -------------------------------------------------------------------



//kinds 시작 -------------------------------------------------------------------
.kinds {
    width: 100%;
    margin-top: 100px;
    text-align: center;

    &__title {
        display: none;
    }
    &__header {
        width: 100%;
        margin-bottom: 50px;
        position: relative;

        &_list {
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;

            &_text {
                padding: 50px 40px;
                cursor: pointer;

                &.active {
                    color: #f00;
                }
            }
        }
        &_bar {
            height: 2px;
            position: absolute;
            left: 0;
            bottom: 0;
            background: #f00;
            transition: .5s;
        }
    }
    &__controls {
        width: max-content;
        margin: 50px auto 0;
        display: flex;

        & button {
            display: flex;
            flex-direction: column;
            align-items: center;

            & img {
                margin-bottom: 5px;
            }
        }
        &_front {
            margin-right: 5px;
        }
    }
}
//kinds 끝 -------------------------------------------------------------------



//home 시작 -------------------------------------------------------------------
.home {
    width: 100%;
    padding-top: 200px;
    text-align: center;

    &__title {
        margin-bottom: 50px;
        font-size: 2rem;
        font-weight: 800;
    }
    &__sub {
        width: 520px;
        margin: 0 auto 80px;
        line-height: 2rem;
    }
    &__contents {
        display: flex;
        align-items: center;

        &_box {
            width: 75%;
            margin-right: 80px;
            position: relative;
        }
        &_img {
            width: 100%;
        }
        &_text {
            width: 65%;
            height: 80%;
            background: rgba(0, 0, 0, .8);
            color: #fff;
            line-height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 50%;
            top: 52%;
            transform: translate(-50%,-50%);
            visibility: hidden;
            opacity: 0;
            transition: .5s;

            &.active {
                top: 50%;
                visibility: visible;
                opacity: 1;
            }
        }
        &_list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            &_box {
                width: 100%;
                margin-bottom: 30px;
                font-weight: 800;
                display: flex;
                align-items: center;

                &:nth-of-type(1) {
                    color: #fe3c32;
                }
                &:nth-of-type(2) {
                    color: #ff9f00;
                }
                &:nth-of-type(3) {
                    color: #1271ff;
                    margin-bottom: 0;
                }

                &:hover .home__contents_list_img {
                    transform: rotateY(180deg);
                }
            }
            &_img {
                margin-right: 20px;
                transition: .5s;
            }            
        }
    }
}
//home 끝 -------------------------------------------------------------------
//메인 끝 -------------------------------------------------------------------



//반응형 시작 -------------------------------------------------------------------
@include pc-mid { //1440px 이하 ------------------------------------------------
}
@include tab-large { //1024px 이하 ------------------------------------------------
    main {
        padding: 96px 5% 80px;
    }
    
    .kinds {
        &__img {
            width:100%
        }
    }

    .home {
        padding-top: 100px;

        &__contents {
            &_box {
                margin-right: 40px;
            }
            &_list {
                &_img {
                    width: 40%;
                }
            }
        }
    }
}
@include tab-small { //768px 이하 ------------------------------------------------
    .title {
        &__main {
            font-size: 3rem;
        }
    }

    .kinds {
        &__header {
            &_list {
                &_text {
                    padding: 30px 40px;
                    font-size: .8rem
                }
            }
        }
    }

    .home {
        &__contents {
            &_list {
                &_img {
                    width: 30%;
                    margin-right: 10px;
                }
            }
            &_box {
                margin-right: 30px;
            }
        }
    }
}
@include mob-large { //640px 이하 ------------------------------------------------
    main {
        padding: 96px 3% 80px;
    }

    .title {
        margin: 50px 0 30px 0;
    }

    .home {
        &__contents {
            &_list {
                &_img {
                    width: 30%;
                    margin-right: 10px;
                }
                &_box {
                    margin-bottom: 20px;
                }
            }
            &_box {
                margin-right: 20px;
            }
        }
        &__title {
            margin-bottom: 30px;
        }
        &__sub {
            margin: 0 auto 30px;
        }
    }
}
@include mob-mid { //425px 이하 ------------------------------------------------
    .kinds {
        margin-top: 50px;

        &__header {
            &_bar {
                display: none;
            }
            &_list {
                &_text {
                    padding: 30px 10px;
                }
            }
        }
    }
    
    .home {
        &__sub {
            width: auto;
        }
        &__contents {
            flex-direction: column;

            &_box {
                width: 100%;
                margin-right: 0px;
            }
            &_text {
                font-size: 0.9rem;
                line-height: 1.8rem;
            }
            &_list {
                margin-top: 20px;
                flex-direction: row;

                &_box {
                    width: 33%;
                    margin-bottom: 0;
                    font-size: 0.9rem;
                    justify-content: center;
                }
            }
        }
    }
}
@include mob-small { //375px 이하 ------------------------------------------------
    .kinds {
        &__header {
            &_list {
                &_text {
                    padding: 20px 7px;
                }
            }
        }
    }
}
// 반응형 끝 -------------------------------------------------------------------