//import 시작 -------------------------------------------------------------------
@import "common.css";
@import "mixin.scss";
//import 끝 -------------------------------------------------------------------



//body 시작 -------------------------------------------------------------------
body {
    background: none;
}
//body 끝 -------------------------------------------------------------------



//main 시작 -------------------------------------------------------------------
main {
    background: url("../img/online/bg.svg") center;
    background-attachment: fixed;
}



//visual 시작 -------------------------------------------------------------------
.visual {
    width: 100%;

    &__title {
        display: none;
    }
    &__video {
        width: 100%;
    }
}
//visual 끝 -------------------------------------------------------------------



//service 시작 -------------------------------------------------------------------
.service {
    width: 100%;
    margin: 0 auto;
    padding: 200px 10% 100px;
    background: #fff;
    display: flex;

    &__title {
        display: none;
    }
    &__box {
        width: 25%;
        height: 450px;
        position: relative;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.8);
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            visibility: hidden;
            opacity: 0;
            transition: .3s ease-in-out;
        }
        &:hover {
            &::before {
                visibility: visible;
                opacity: 1;
            }
            & .service__box_hover {
                transform: translateY(0);
                visibility: visible;
                opacity: 1;
            }
            & .service__box_main {
                transform: translateY(100%);
            }
        }        
        &_hover {
            width: 100%;
            height: 100%;
            padding: 80px 0 0 50px;
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(2%);
            visibility: hidden;
            opacity: 0;
            transition: .3s ease-in-out;

            &_text {
                font-size: 1.75rem;
                font-weight: 800;
                color: #fff;

                &::before {
                    content: "";
                    width: 50px;
                    height: 32px;
                    display: block;
                    background: url("../img/online/sub_title.png") no-repeat center / cover;
                }
            }
            &_img {
                width: 200px;
                filter: grayscale(1) brightness(2);
                position: absolute;
                right: 0;
                bottom: 0;
                transform: translate(20%, 20%);
            }
        }
        &_main {    width: 90%;
            height: 100px;
            background: #fff;
            border-top-left-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0;
            bottom: 0;
            transition: .3s ease-in-out;

            &_img {
                width: 30px;
                margin-right: 10px;
            }
            &_text {
                font-size: 1.875rem;
                font-weight: 800;
            }
        }
    }
    &__main {
        &::before {
            content: "";
            width: 50px;
            height: 50px;
            background: url("../img/online/mini_nintendo.png") no-repeat center / cover;
            display: block;
            position: absolute;
            left: -40px;
            top: -20px;
            transform: rotate(-45deg);
            visibility: visible;
            opacity: 1;
        }
        &_title {
            font-size: 3.125rem;
            font-weight: 800;
            margin-bottom: 30px;
        }
        &_sub {
            font-size: 1.25rem;
            line-height: 2rem;
            color: #555;
        }
    }
    &__online {
        overflow: hidden;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: url("../img/online/service_00.jpg") no-repeat right / cover;
            display: block;
            z-index: -1;
            transition: .3s ease-in-out;
        }
    }
    &__data {
        background: url("../img/online/service_01.jpg") no-repeat center / cover;
        overflow: hidden;
        padding: 80px 0 0 50px;
    }
    &__app {
        background: url("../img/online/service_02.jpg") no-repeat center / cover;
        overflow: hidden;
        padding: 80px 0 0 50px;
    }
}
//service 끝 -------------------------------------------------------------------



//price 시작 -------------------------------------------------------------------
.price {
    width: 100%;
    padding: 150px 15%;
    background: #fff;
    text-align: center;

    &__title {
        font-size: 1.875rem;
        font-weight: 800;
        text-align: start;

        &::before {
            content: "";
            width: 38px;
            height: 5px;
            background: #e60012;
            display: block;
            margin-bottom: 10px;
        }
    }
    &__contents {
        width: 80%;
        margin: 100px auto;
        position: relative;
    }
    &__slide {
        width: 95%;
        margin: 0 auto;
        overflow: hidden;
    }
    &__list {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        z-index: 2;

        &_box {
            display: flex;
            flex: 0 0 50%;
            justify-content: center;
            align-items: center;
            text-align: start;
            transition: .3s ease-in-out;

            &.active {
                opacity: .5;
            }
            &:last-of-type {
                margin-right: 0;
            }
            &:hover .price__list_img {
                transform: scale(1.2);
            }
        }
        &_text {
            margin-right: 10%;

            &_sub {
                margin-bottom: 35px;

                span {
                    font-weight: 700;
                    padding: 3px 10px;
                    border-radius: 5px;
                }
                &_num {
                    color: #e60012;
                    border: 1px solid #e60012;
                }
                &_day {
                    color: #aaa;
                    border: 1px solid #aaa;
                }
            }
            &_month {
                margin-bottom: 30px;
                color: #333;
                font-size: 1.5rem;
                font-weight: 700;
            }
            &_day {
                color: #333;
                font-weight: 700;
            }
            &_title {
                margin-bottom: 20px;
                color: #787878;
                font-size: 1.375rem;
                font-weight: 700;
                line-height: 2rem;
            }
            &_price {
                color: #e60012;
                font-size: 3.125rem;
                font-weight: 800;
            }
        }
        &_img {
            width: 30%;
            transition: .3s ease-in-out;
        }
    }
    &__ind {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        & button {
            width: 27px;
            height: 30px;

            & img {
                width: 12px;
                transition: .3s ease-in-out;
            }
            &:hover img {
                transform: scale(1.3);
            }
        }
    }
    &__use {
        & a {
            width: 300px;
            margin: 0 auto;
            border: 2px solid #e60012;
            border-radius: 5px;
            background: #e60012;
            color: #fff;
            font-weight: 700;
            line-height: 63px;
            transition: .2s ease-in-out;
            display: inline-block;

            &:hover {
                background: #fff;
                color: #e60012;
            }
        }
    }
}
//price 끝 -------------------------------------------------------------------



//privilege 시작 -------------------------------------------------------------------
.privilege {
    width: 100%;
    padding: 50px 15%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        display: none;
    }
    &__text {
        &_title {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 30px;
        }
        &_small {
            font-size: 0.9375rem;
            color: #666;
            display: block;
            margin-top: 10px;
        }
    }
    &__detail {
        width: 15%;
        height: max-content;
        border: 2px solid #e60012;
        border-radius: 5px;
        background: #e60012;
        color: #fff;
        font-weight: 700;
        line-height: 63px;
        text-align: center;
        transition: .2s ease-in-out;

        &:hover {
            background: #fff;
            color: #e60012;
        }
    }
}
//privilege 끝 -------------------------------------------------------------------



//question 시작 -------------------------------------------------------------------
.question {
    width: 100%;
    padding: 150px 15%;
    background: #fff;

    &__title {
        font-size: 1.875rem;
        font-weight: 800;
        text-align: start;

        &::before {
            content: "";
            width: 38px;
            height: 5px;
            background: #e60012;
            display: block;
            margin-bottom: 10px;
        }
    }
    &__list {
        width: 100%;
        padding-top: 50px;

        &_box {
            width: 100%;
        }
        &_qna {
            width: 100%;
            padding: 35px;
            background: #f0fdff;
            display: flex;
            align-items: center;

            & img {
                width: 50px;
                margin-right: 50px;
            }
        }
        &_q {
            cursor: pointer;

            &:hover &_text {
                color: #f00;
            }
        }
        &_a {
            height: 0;
            padding: 0 35px;
            background: #f9feff;
            overflow: hidden;
            visibility: hidden;
            opacity: 0;
            transition: .5s cubic-bezier(0.76, 0, 0.24, 1);

            &.active {
                height: 300px;
                padding: 35px;
                visibility: visible;
                opacity: 1;
            }
            &_text {
                & p {
                    color: #333;
                    line-height: 2.5rem;
                }
            }
        }
    }
}
//question 끝 -------------------------------------------------------------------
//main 끝 -------------------------------------------------------------------



//반응형 시작 -------------------------------------------------------------------
@include pc-mid { //1440px 이하 ------------------------------------------------
}
@include tab-large { //1024px 이하 ------------------------------------------------
}
@include tab-small { //768px 이하 ------------------------------------------------
}
@include mob-large { //640px 이하 ------------------------------------------------
}
@include mob-mid { //425px 이하 ------------------------------------------------
}
@include mob-small { //375px 이하 ------------------------------------------------
}
// 반응형 끝 -------------------------------------------------------------------