@import url(common.css);
body {
  background: none; }

main {
  background: url("../img/online/bg.svg") center;
  background-attachment: fixed; }

.visual {
  width: 100%;
  font-size: 0; }
  .visual__title {
    display: none; }
  .visual__video {
    width: 100%; }

.service {
  width: 100%;
  margin: 0 auto;
  padding: 200px 10% 100px;
  background: #fff;
  display: flex; }
  .service__title {
    display: none; }
  .service__box {
    width: 25%;
    height: 450px;
    position: relative; }
    .service__box::before {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      visibility: hidden;
      opacity: 0;
      transition: .3s ease-in-out; }
    .service__box:hover::before {
      visibility: visible;
      opacity: 1; }
    .service__box:hover .service__box_hover {
      transform: translateY(0);
      visibility: visible;
      opacity: 1; }
    .service__box:hover .service__box_main {
      transform: translateY(100%); }
    .service__box_hover {
      width: 100%;
      height: 100%;
      padding: 80px 0 0 50px;
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(2%);
      visibility: hidden;
      opacity: 0;
      transition: .3s ease-in-out; }
      .service__box_hover_text {
        font-size: 1.75rem;
        font-weight: 800;
        color: #fff; }
        .service__box_hover_text::before {
          content: "";
          width: 50px;
          height: 32px;
          display: block;
          background: url("../img/online/sub_title.png") no-repeat center/cover; }
      .service__box_hover_img {
        width: 200px;
        filter: grayscale(1) brightness(2);
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(20%, 20%); }
    .service__box_main {
      width: 90%;
      height: 100px;
      background: #fff;
      border-top-left-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      bottom: 0;
      transition: .3s ease-in-out; }
      .service__box_main_img {
        width: 30px;
        margin-right: 10px; }
      .service__box_main_text {
        font-size: 1.875rem;
        font-weight: 800; }
  .service__main::before {
    content: "";
    width: 50px;
    height: 50px;
    background: url("../img/online/mini_nintendo.png") no-repeat center/cover;
    display: block;
    position: absolute;
    left: -40px;
    top: -20px;
    transform: rotate(-45deg);
    visibility: visible;
    opacity: 1; }
  .service__main_title {
    font-size: 3.125rem;
    font-weight: 800;
    margin-bottom: 30px; }
  .service__main_sub {
    font-size: 1.25rem;
    line-height: 2rem;
    color: #555; }
  .service__online {
    overflow: hidden; }
    .service__online::after {
      content: "";
      width: 100%;
      height: 100%;
      background: url("../img/online/service_00.jpg") no-repeat right/cover;
      display: block;
      z-index: -1;
      transition: .3s ease-in-out; }
  .service__data {
    background: url("../img/online/service_01.jpg") no-repeat center/cover;
    overflow: hidden;
    padding: 80px 0 0 50px; }
  .service__app {
    background: url("../img/online/service_02.jpg") no-repeat center/cover;
    overflow: hidden;
    padding: 80px 0 0 50px; }

.price {
  width: 100%;
  padding: 150px 15%;
  background: #fff;
  text-align: center; }
  .price__title {
    font-size: 1.875rem;
    font-weight: 800;
    text-align: start; }
    .price__title::before {
      content: "";
      width: 38px;
      height: 5px;
      background: #e60012;
      display: block;
      margin-bottom: 10px; }
  .price__contents {
    width: 80%;
    margin: 100px auto;
    position: relative; }
  .price__slide {
    width: 95%;
    margin: 0 auto;
    overflow: hidden; }
  .price__list {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    z-index: 2; }
    .price__list_box {
      display: flex;
      flex: 0 0 50%;
      justify-content: center;
      align-items: center;
      text-align: start;
      transition: .3s ease-in-out; }
      .price__list_box.active {
        opacity: .5; }
      .price__list_box:last-of-type {
        margin-right: 0; }
      .price__list_box:hover .price__list_img {
        transform: scale(1.2); }
    .price__list_text {
      margin-right: 10%; }
      .price__list_text_sub {
        margin-bottom: 35px; }
        .price__list_text_sub span {
          font-weight: 700;
          padding: 3px 10px;
          border-radius: 5px; }
        .price__list_text_sub_num {
          color: #e60012;
          border: 1px solid #e60012; }
        .price__list_text_sub_day {
          color: #aaa;
          border: 1px solid #aaa; }
      .price__list_text_month {
        margin-bottom: 30px;
        color: #333;
        font-size: 1.5rem;
        font-weight: 700; }
      .price__list_text_day {
        color: #333;
        font-weight: 700; }
      .price__list_text_title {
        margin-bottom: 20px;
        color: #787878;
        font-size: 1.375rem;
        font-weight: 700;
        line-height: 2rem; }
      .price__list_text_price {
        color: #e60012;
        font-size: 3.125rem;
        font-weight: 800; }
    .price__list_img {
      width: 30%;
      transition: .3s ease-in-out; }
  .price__ind {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .price__ind button {
      width: 27px;
      height: 30px; }
      .price__ind button img {
        width: 12px;
        transition: .3s ease-in-out; }
      .price__ind button:hover img {
        transform: scale(1.3); }
  .price__use a {
    width: 300px;
    margin: 0 auto;
    border: 2px solid #e60012;
    border-radius: 5px;
    background: #e60012;
    color: #fff;
    font-weight: 700;
    line-height: 63px;
    transition: .2s ease-in-out;
    display: inline-block; }
    .price__use a:hover {
      background: #fff;
      color: #e60012; }

.privilege {
  width: 100%;
  padding: 50px 15%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .privilege__title {
    display: none; }
  .privilege__text_title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 30px; }
  .privilege__text_small {
    font-size: 0.9375rem;
    color: #666;
    display: block;
    margin-top: 10px; }
  .privilege__detail {
    width: 15%;
    height: max-content;
    border: 2px solid #e60012;
    border-radius: 5px;
    background: #e60012;
    color: #fff;
    font-weight: 700;
    line-height: 63px;
    text-align: center;
    transition: .2s ease-in-out; }
    .privilege__detail:hover {
      background: #fff;
      color: #e60012; }

.question {
  width: 100%;
  padding: 150px 15%;
  background: #fff; }
  .question__title {
    font-size: 1.875rem;
    font-weight: 800;
    text-align: start; }
    .question__title::before {
      content: "";
      width: 38px;
      height: 5px;
      background: #e60012;
      display: block;
      margin-bottom: 10px; }
  .question__list {
    width: 100%;
    padding-top: 50px; }
    .question__list_box {
      width: 100%; }
    .question__list_qna {
      width: 100%;
      padding: 35px;
      background: #f0fdff;
      display: flex;
      align-items: center; }
      .question__list_qna img {
        width: 50px;
        margin-right: 50px; }
    .question__list_q {
      cursor: pointer; }
      .question__list_q:hover .question__list_q_text {
        color: #f00; }
    .question__list_a {
      height: 0;
      padding: 0 35px;
      background: #f9feff;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s cubic-bezier(0.76, 0, 0.24, 1); }
      .question__list_a.active {
        height: 300px;
        padding: 35px;
        visibility: visible;
        opacity: 1; }
      .question__list_a_text p {
        color: #333;
        line-height: 2.5rem; }

@media screen and (max-width: 1440px) {
  .price {
    padding: 100px 10%; }
    .price__contents {
      width: 100%; }

  .privilege {
    padding: 50px 10%; }

  .question {
    padding: 150px 10%; }
    .question__list_a.active {
      height: 400px; } }
@media screen and (max-width: 1024px) {
  .service {
    padding: 100px 10% 0; }
    .service__main::before {
      width: 30px;
      height: 30px;
      left: -20px;
      top: -10px; }
    .service__main_title {
      font-size: 2.125rem; }
    .service__main_sub {
      font-size: 1rem;
      line-height: 1.6rem; }
    .service__box_main_text {
      font-size: 1.275rem; }
    .service__box_hover {
      padding: 80px 0 0 20px; }
    .service__app {
      padding: 80px 0 0 20px; }

  .price__list_text_price {
    color: #e60012;
    font-size: 2.125rem;
    font-weight: 800; }
  .price__list_text_title {
    font-size: 1rem; }

  .privilege {
    padding: 50px 0%; }
    .privilege__text {
      margin: 0 30px; }
      .privilege__text_sub {
        line-height: 1.6rem; }

  .question__list_a.active {
    height: 500px; } }
@media screen and (max-width: 768px) {
  .service__box {
    height: 250px; }
    .service__box_main {
      height: 70px; }
      .service__box_main_img {
        width: 20px;
        margin-right: 5px; }
      .service__box_main_text {
        font-size: 1rem; }
    .service__box_hover {
      padding: 30px 0 0 20px; }
      .service__box_hover_text {
        font-size: 1.25rem; }
      .service__box_hover_img {
        width: 100px; }

  .price {
    padding: 60px 10%; }
    .price__slide {
      width: 90%; }
    .price__list_img {
      width: 25%; }

  .privilege {
    flex-direction: column; }
    .privilege__text {
      margin: 30px 0; }
      .privilege__text_title {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 30px 0;
        text-align: center; }
    .privilege__detail {
      width: 90%; }

  .question {
    padding: 60px 5%; }
    .question__list_a.active {
      height: 600px; } }
@media screen and (max-width: 640px) {
  .service {
    padding: 100px 5% 0; }
    .service__main_title {
      margin-bottom: 20px; }
    .service__main_sub {
      font-size: .8rem; }
    .service__box_hover_text {
      font-size: 1.125rem; }

  .price {
    padding: 60px 5%; }
    .price__contents {
      margin: 50px auto; }
    .price__list_text {
      margin-right: 10px; }
    .price__use a {
      width: 250px; }

  .privilege__text_title {
    margin: 20px 0; }

  .question__list_q_text {
    line-height: 2rem; } }
@media screen and (max-width: 425px) {
  .visual {
    font-size: 0;
    padding-top: 96px;
    background: #e41217; }

  .service {
    padding: 50px 5% 0;
    flex-direction: column; }
    .service__box {
      width: 100%;
      height: 150px; }
      .service__box_main {
        width: 50%; }

  .price__list_img {
    display: none; }
  .price__list_text_title {
    font-size: 0.8rem;
    line-height: 1.4rem; }
  .price__list_text_price {
    font-size: 1.6rem; }
  .price__list_text_month {
    margin-bottom: 20px;
    font-size: 1.125rem; }
  .price__list_text_sub {
    margin-bottom: 15px; }
    .price__list_text_sub span {
      font-size: 0.8r; }
  .price__use a {
    width: 49%; }

  .privilege {
    padding: 30px 0%; }
    .privilege__text {
      padding: 0 20px; }
      .privilege__text_title {
        font-size: 1.25rem; }
      .privilege__text_sub {
        text-align: center; }
      .privilege__text_small {
        line-height: 1.6rem; }

  .question__list_qna img {
    margin-right: 20px; }
  .question__list_a.active {
    height: 700px; }
  .question__list_a_text p {
    line-height: 2rem;
    font-size: .8rem; }
  .question__list_q_text {
    line-height: 1.8rem;
    font-size: .9rem; } }
@media screen and (max-width: 375px) {
  .privilege__text_title {
    font-size: 1rem; }
  .privilege__text_sub {
    font-size: 0.9rem; }
  .privilege__text_small {
    font-size: 0.8rem; } }

/*# sourceMappingURL=nintendo_online.css.map */
