@import url(common.css);
main {
  width: 100%;
  padding: 96px 12% 80px;
  background: #fff; }

.title {
  margin: 100px 0 30px 0; }
  .title__main {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.4; }
  .title__sub {
    margin: 0 0 10px 0;
    font-size: 1.25rem;
    font-weight: 700;
    display: block; }

.contents {
  width: 80%;
  margin: 100px auto 0; }
  .contents__title {
    display: none; }
  .contents__list {
    width: 100%;
    padding-bottom: 100px; }
    .contents__list_line {
      width: 100%;
      margin-bottom: 30px;
      display: flex; }
      .contents__list_line span {
        height: 2px; }
      .contents__list_line_red {
        width: 20%;
        background: #f00; }
      .contents__list_line_gray {
        width: 80%;
        background: #d9d9d9; }
    .contents__list_title {
      font-size: 1.5rem;
      font-weight: 700; }
  .contents_box {
    width: 80%;
    margin: 60px auto 0; }
  .contents__imgs {
    width: 100%;
    margin-bottom: 60px;
    display: flex; }
    .contents__imgs_first {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden; }
      .contents__imgs_first_box {
        width: 100%;
        padding-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        overflow: hidden;
        cursor: zoom-in; }
        .contents__imgs_first_box_img {
          width: 70%;
          height: auto; }
      .contents__imgs_first_zoom {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .contents__imgs_first_zoom_img {
          margin-right: 5px; }
        .contents__imgs_first_zoom_text {
          font-size: 0.875rem; }
    .contents__imgs_second {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .contents__imgs_second_img {
        width: 70%;
        height: auto; }
  .contents__text {
    width: 100%;
    text-align: center; }
    .contents__text_main {
      width: max-content;
      margin: 0 auto 50px; }
      .contents__text_main_box {
        width: 100%;
        margin-bottom: 35px;
        display: flex; }
        .contents__text_main_box:last-of-type {
          margin-bottom: 0; }
        .contents__text_main_box span:first-of-type {
          width: 40px;
          text-align: start; }
        .contents__text_main_box span:last-of-type {
          display: flex;
          align-items: center; }
          .contents__text_main_box span:last-of-type::before {
            content: "";
            width: 2px;
            height: 1rem;
            margin: 0 40px;
            background: #f00;
            display: block; }
    .contents__text_sub {
      line-height: 2rem; }

@media screen and (max-width: 1440px) {
  .contents {
    width: 100%; }
    .contents__text_sub {
      width: 80%;
      margin: 0 auto; } }
@media screen and (max-width: 1024px) {
  main {
    padding: 96px 12% 30px; }

  .contents__list {
    padding-bottom: 60px; }
  .contents__text_main_box {
    margin-bottom: 20px; } }
@media screen and (max-width: 768px) {
  .title {
    margin: 50px 0 30px 0; } }
@media screen and (max-width: 640px) {
  .title__main {
    font-size: 3rem; }

  .contents {
    margin: 50px auto 0; }
    .contents__text_sub {
      width: 100%; } }
@media screen and (max-width: 425px) {
  main {
    padding: 96px 12% 0; }

  .contents__list_title {
    font-size: 1.35rem; }
  .contents__imgs {
    margin-bottom: 40px;
    flex-direction: column; }
    .contents__imgs_first {
      width: 100%;
      margin-bottom: 30px; }
      .contents__imgs_first_box {
        margin-bottom: 20px; }
        .contents__imgs_first_box_img {
          width: 100%; }
    .contents__imgs_second {
      width: 100%; }
      .contents__imgs_second_img {
        width: 100%; }
  .contents__text_main {
    margin: 0 auto 30px; } }
@media screen and (max-width: 375px) {
  .contents__list_title {
    font-size: 1.25rem; } }

/*# sourceMappingURL=nintendo_peripherals.css.map */
