@import url(common.css);





/* main */
main {
    width: 100%;
    padding-top: 96px;
}

.visual {
    width: 100%;
    padding-left: 25%;
}
.visual figure {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}
.visual figure::before {
    content: "";
    width: 100%;
    padding-top: 840px;
    display: block;
    background: url("../img/visual00.jpg") no-repeat top right / cover;
}
.visual__img {
    width: 100%;
    text-align: right;
}
.visual__text {
    display: flex;
    padding-top: 180px;
    flex-direction: column;
    position: absolute;
    left: -20%;
    top: 0;
}
.visual__console {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 50px;
    opacity: .8;
}
.visual__title {
    width: 400px;
    margin-bottom: 60px;
    font-size: 4.5rem;
    font-weight: 800;
    word-break: keep-all;
    letter-spacing: 4px;
}
.visual__control_box {
    width: 330px;
    height: 100px;
    padding: 0 40px;
    background: #e20714;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-50%);
}
.visual__current {
    color: #fff;
}
.visual__total {
    color: #fff;
    opacity: .5;
}
.visual__total::before {
    content: "/";
    margin: 0 5px;
}
.visual__controls {
    display: flex;
}
.visual__controls button {
    padding: 12px;
    margin-left: 6px;
    display: flex;
    align-items: center;
}
.visual__controls button:first-of-type {
    margin-left: 0;
}
.visual__controls button img {
    width: 8px;
    opacity: .5;
}
.visual__controls button:hover img {
    opacity: 1;
}
.visual__controls button:nth-of-type(2) img {
    opacity: 1;
}

.how_to_play {}

.about_switch {}

.joy_con {}

.software {}

.news {}





/* common */
.more {    
    display: inline-flex;
    align-items: center;
}
.more span {
    width: 20px;
    height: 2px;
    margin-right: 13px;
    background: #f00;
    transition: .5s;
}
.more:hover span {
    width: 40px;
}
.more p {
    font-size: 1.25rem;
    font-weight: 700;
}