@import "common.css";





main {
    width: 100%;
    padding-top: 96px;
    overflow: hidden;
}

.visual {
    width: 100%;
    padding-left: 25%;

    &__img {
        width: 100%;
        background: no-repeat center / cover;
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        transition: background 1.5s;

        &::before {
            content: "";
            width: 100%;
            padding-top: 840px;
        }
    }

    &__controls {
        width: 330px;
        height: 100px;
        padding: 0 40px;
        background: #e20714;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate(-50%);

        &_num {
            span {
                color: #fff;
            }
            &_current {}
            &_total {
                opacity: .5;

                &::before {
                    content: "/";
                    margin: 0 5px;
                }
            }
        }
        &_button {
            display: flex;

            input {
                width: 30px;
                padding: 10px;
                margin-left: 16px;
                display: flex;
                align-items: center;
                opacity: .5;

                &:hover {
                    opacity: 1;
                }
            }
            &_prev {
                margin-left: 0;
            }
            &_play {
                opacity: 1;
            }
            &_next {}
        }
    }

    &__text {
        display: flex;
        padding-top: 180px;
        flex-direction: column;
        position: absolute;
        left: -20%;
        top: -20px;
        visibility: hidden;
        opacity: 0;
        transition: 1s;

        &.active {
            top: 0;
            visibility: visible;
            opacity: 1;
        }
        &_sub {
            font-size: 1.25rem;
            font-weight: 700;
            margin-bottom: 30px;
            opacity: .8;
        }
        &_title {
            width: 400px;
            margin-bottom: 60px;
            font-size: 4.5rem;
            font-weight: 800;
            word-break: keep-all;
            letter-spacing: 4px;
        }
    }
}

.how-to-play {
    width: 100%;
    text-align: center;

    &__title {
        padding: 130px 0 50px;
        font-size: 2.25rem;
        font-weight: 800;
        background: transparent;
    }
    &__list {
        width: 100%;
        padding: 50px 10% 50px;
        background: #f9f9fb;
        display: flex;
        justify-content: space-between;

        &_box {
            width: 33.333333%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &_img {
            width: 260px;
            margin-bottom: 30px;
            border-radius: 30px;
        }
        &_title {
            font-size: 1.875rem;
            font-weight: 800;
            margin-bottom: 30px;
        }
        &_sub {
            color: #404040;
            font-size: 1rem;
            line-height: 30px;
            word-break: keep-all;
        }
    }
}

.about-switch {
    width: 100%;
    text-align: center;
    padding: 100px;

    &__title {
        font-size: 2.25rem;
        font-weight: 800;
    }
    &__sub {
        font-size: 1.25rem;
        line-height: 3rem;
        margin: 60px 0;
    }
    &__list {
        width: 80%;
        margin: 0 auto;
        background: url("../img/ABOUT_SWITCH00.jpg") no-repeat center center / cover;
        display: flex;
        transition: background 1s;

        &_box {
            width: 25%;    
            height: 520px;
            background: rgba(0, 0, 0, .5);
            text-align: start;
            padding: 150px 50px 0;
            display: flex;
            flex: 1;
            flex-direction: column;
            opacity: .7;
            transition: 1s;

            &.active {
                background: rgba(0, 0, 0, .8);
                flex: 1.5;
                opacity: 1;
            }
        }
        &_num {
            font-size: 1.25rem;
            color: #f00;
            margin-bottom: 14px;
        }
        &_title {
            font-size: 2rem;
            font-weight: 800;
            color: #fff;
            margin-bottom: 28px;
        }
        &_sub {
            margin-bottom: 80px;
            color: #fff;
            word-break: keep-all;
        }
    }
}

.joy-con {
    width: 100%;
    margin: 90px 0;
    background: url("../img/joy_con_background.jpg") no-repeat center / cover;

    &__title {
        display: none;
    }
    &__box {
        width: 100%;
        padding: 200px 0 250px 10%;
        position: relative;
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, .5);

        &_title {
            width: 600px;
            margin-bottom: 60px;
            color: #fff;
            font-size: 4rem;
            font-weight: 800;
            line-height: 6rem;
        }
        &_sub {
            margin-bottom: 60px;
            color: #fff;
            font-size: 1.125rem;
            line-height: 2rem;
        }
        &_img {
            width: 600px;
            position: absolute;
            left: 10%;
            bottom: -230px;
        }
        .more__text {
            color: #fff;
        }
    }
}

.software {
    padding: 200px 0 50px;
    text-align: center;

    &__title {
        font-size: 2.625rem;
        font-weight: 800;
    }
    &__list {
        width: 80%;
        margin: 0 auto;
        padding: 100px 0 0 0;
        text-align: start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &_box {
            width: 47%;
            margin-bottom: 150px; 

            &:nth-of-type(even) {
                margin-top: -540px;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        &_img {
            width: 100%;
            height: 900px;
            position: relative;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .5);
                display: block;
                visibility: hidden;
                opacity: 0;
                transition: .5s;
            }
            &:hover::before,
            &:hover .plus {
                visibility: visible;
                opacity: 1; 
            }
        }
        &_text {
            padding-top: 25px;
        }
        &_sub {
            color: #666;
            font-size: 1.125rem;
        }
        &_title {
            margin-top: 20px;
            font-size: 1.75rem;
            font-weight: 800;
        }
    }
    &__text {
        width: 47%;
        display: flex;
        flex-direction: column;

        &_title {
            width: 400px;
            font-size: 3rem;
            font-weight: 700;
            line-height: 4rem;

            span {
                font-size: 3rem;
                font-weight: 700;
                color: #f00;
            }
        }
        &_sub {
            margin: 50px 0;
        }
    }
}

.news {
    width: 100%;
    padding: 50px 10%;
    text-align: end;

    &__title {
        font-size: 2.625rem;
        font-weight: 800;
        text-align: center;
    }
    &__list {
        width: 100%;
        padding: 40px 0 20px;
        display: flex;
        justify-content: space-between;

        &_box {
            width: 32%;
            text-align: start;
        }
        &_img {
            width: 100%;
            height: 270px;
            margin-bottom: 10px;
            position: relative;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .5);
                display: block;
                visibility: hidden;
                opacity: 0;
                transition: .5s;
            }
            &:hover::before,
            &:hover .plus {
                visibility: visible;
                opacity: 1;
            }
        }
        &_sub {
            color: #666;   
        }
        &_title {
            margin: 20px 0;
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 2rem;
            word-break: keep-all;
        }
        &_date {
            font-size: 0.9375rem;
            color: #999;
        }
    }
    .more {
        width: 120px;
    }
}

.fun {
    width: 100%;
    height: 120px;
    position: relative;

    &__img {
        position: absolute;
        left: -20%;
        top: 0;
        transform: rotateY(180deg) translate(100%);
    }

    @for $i from 1 to 11 {
        &__img:nth-of-type(#{$i}) {
            animation: go #{$i + 5}s infinite linear;
        }
    }
}

@keyframes go {
    100% {
        left: 100%;
        transform: rotateY(180deg) translate(0);
    }
}

// 반응형 mixin --------------------------------------

$desktop-m-width : 1440px;
$tablet-l-width : 1024px;
$tablet-s-width : 768px;
$mob-l-width : 640px;
$mob-m-width : 425px;
$mob-s-width : 375px;
 
// -------------------------------------------------- 

// PC large
@mixin pc-mid {
	@media screen and (max-width: #{$desktop-m-width}) {
		@content;
	}
}
// 태블릿 large
@mixin tab-large {
	@media screen and (max-width: #{$tablet-l-width}) {
		@content;
	}
}
// 태블릿 small
@mixin tab-small {
	@media screen and (max-width: #{$tablet-s-width}) {
		@content;
	}
}
// 모바일 large
@mixin mob-large {
	@media screen and (max-width: #{$mob-l-width}) {
		@content;
	}
}
// 모바일 mid
@mixin mob-mid {
	@media screen and (max-width: #{$mob-m-width}) {
		@content;
	}
}
// 모바일 small
@mixin mob-small {
	@media screen and (max-width: #{$mob-s-width}) {
		@content;
	}
}

// --------------------------------------------------

@include pc-mid {
    .visual {
        &__img::before {
        padding-top: 760px;
        }
    }

    .about-switch {
        &__list {
            &_box {
            padding: 150px 0 0 30px;
            }
        }
    }

    .joy-con {
        &__box {
            padding: 100px 0 100px 10%;

            &_img {
                width: 450px;
                bottom: -260px;
            }
        }
    }
}
@include tab-large {
    .visual {
        padding-left: 0;

        &__controls {
            width: 290px;
            height: 80px;
            transform: translateY(50%);
        }
        &__img::before {
            padding-top: 600px;
        }
        &__text {
            display: none;
        }
    }

    .how-to-play {
        &__list {
            padding: 50px 0% 50px;
        }
    }

    .about-switch {
        padding: 100px 0 0 0;

        &__list {
            width: 100%;
        }
    }

    .joy-con {
        &__box {
            &_title {
                font-size: 3.5rem;
            }
            &_sub {
                font-size: 1rem;
            }
        }
    }

    .software {
        &__text {
            &_sub {
                line-height: 2rem;
            }
        }
    }

    .news {
        &__list {
            &_title {
                font-size: 1.125rem;
            }
        }
    }
}
@include tab-small {
}
@include mob-large {

}
@include mob-mid {

}
@include mob-small {
     
}

// -------------------------------------------------- 