@import url(common.css);
main {
  width: 100%;
  padding-top: 96px; }

.visual {
  width: 100%;
  padding-left: 25%; }
  .visual__img {
    width: 100%;
    background: url("../img/visual00.jpg") no-repeat right top/cover;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    transition: background 1.5s; }
    .visual__img::before {
      content: "";
      width: 100%;
      padding-top: 840px; }
  .visual__controls {
    width: 330px;
    height: 100px;
    padding: 0 40px;
    background: #e20714;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-50%); }
    .visual__controls_num span {
      color: #fff; }
    .visual__controls_num_total {
      opacity: .5; }
      .visual__controls_num_total::before {
        content: "/";
        margin: 0 5px; }
    .visual__controls_button {
      display: flex; }
      .visual__controls_button input {
        width: 30px;
        padding: 10px;
        margin-left: 16px;
        display: flex;
        align-items: center;
        opacity: .5; }
        .visual__controls_button input:hover {
          opacity: 1; }
      .visual__controls_button_prev {
        margin-left: 0; }
      .visual__controls_button_play {
        opacity: 1; }
  .visual__text {
    display: flex;
    padding-top: 180px;
    flex-direction: column;
    position: absolute;
    left: -20%;
    top: -20px;
    visibility: hidden;
    opacity: 0;
    transition: 1s; }
    .visual__text.active {
      top: 0;
      visibility: visible;
      opacity: 1; }
    .visual__text_sub {
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 30px;
      opacity: .8; }
    .visual__text_title {
      width: 400px;
      margin-bottom: 60px;
      font-size: 4.5rem;
      font-weight: 800;
      word-break: keep-all;
      letter-spacing: 4px; }

.how-to-play {
  width: 100%;
  text-align: center; }
  .how-to-play__title {
    padding: 130px 0 50px;
    font-size: 2.25rem;
    font-weight: 800;
    background: transparent; }
  .how-to-play__list {
    width: 100%;
    padding: 50px 10% 50px;
    background: #f9f9fb;
    display: flex;
    justify-content: space-between; }
    .how-to-play__list_box {
      width: 33.333333%;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .how-to-play__list_img {
      width: 260px;
      margin-bottom: 30px;
      border-radius: 30px; }
    .how-to-play__list_title {
      font-size: 1.875rem;
      font-weight: 800;
      margin-bottom: 30px; }
    .how-to-play__list_sub {
      color: #404040;
      font-size: 1rem;
      line-height: 30px;
      word-break: keep-all; }

.about-switch {
  width: 100%;
  text-align: center;
  padding: 100px; }
  .about-switch__title {
    font-size: 2.25rem;
    font-weight: 800; }
  .about-switch__sub {
    font-size: 1.25rem;
    line-height: 3rem;
    margin: 60px 0; }
  .about-switch__list {
    width: 80%;
    margin: 0 auto;
    background: url("../img/ABOUT_SWITCH00.jpg") no-repeat center center/cover;
    display: flex;
    transition: background 1s; }
    .about-switch__list_box {
      width: 25%;
      height: 520px;
      background: rgba(0, 0, 0, 0.5);
      text-align: start;
      padding: 150px 50px 0;
      display: flex;
      flex: 1;
      flex-direction: column;
      opacity: .7;
      transition: 1s; }
      .about-switch__list_box.active {
        background: rgba(0, 0, 0, 0.8);
        flex: 1.5;
        opacity: 1; }
    .about-switch__list_num {
      font-size: 1.25rem;
      color: #f00;
      margin-bottom: 14px; }
    .about-switch__list_title {
      font-size: 2rem;
      font-weight: 800;
      color: #fff;
      margin-bottom: 28px; }
    .about-switch__list_sub {
      margin-bottom: 80px;
      color: #fff;
      word-break: keep-all; }

.joy-con {
  width: 100%;
  margin: 90px 0;
  background: url("../img/joy_con_background.jpg") no-repeat center/cover; }
  .joy-con__title {
    display: none; }
  .joy-con__box {
    width: 100%;
    padding: 200px 0 250px 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5); }
    .joy-con__box_title {
      width: 600px;
      margin-bottom: 60px;
      color: #fff;
      font-size: 4rem;
      font-weight: 800;
      line-height: 6rem; }
    .joy-con__box_sub {
      margin-bottom: 60px;
      color: #fff;
      font-size: 1.125rem;
      line-height: 2rem; }
    .joy-con__box_img {
      width: 600px;
      position: absolute;
      left: 10%;
      bottom: -230px; }
    .joy-con__box .more__text {
      color: #fff; }

.software {
  padding: 200px 0 50px;
  text-align: center; }
  .software__title {
    font-size: 2.625rem;
    font-weight: 800; }
  .software__list {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0 0 0;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .software__list_box {
      width: 47%;
      margin-bottom: 150px; }
      .software__list_box:nth-of-type(even) {
        margin-top: -540px; }
      .software__list_box:last-of-type {
        margin-bottom: 0; }
    .software__list_img {
      width: 100%;
      height: 900px;
      position: relative; }
      .software__list_img::before {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: .5s; }
      .software__list_img:hover::before, .software__list_img:hover .plus {
        visibility: visible;
        opacity: 1; }
    .software__list_text {
      padding-top: 25px; }
    .software__list_sub {
      color: #666;
      font-size: 1.125rem; }
    .software__list_title {
      margin-top: 20px;
      font-size: 1.75rem;
      font-weight: 800; }
  .software__text {
    width: 47%;
    display: flex;
    flex-direction: column; }
    .software__text_title {
      width: 400px;
      font-size: 3rem;
      font-weight: 700;
      line-height: 4rem; }
      .software__text_title span {
        font-size: 3rem;
        font-weight: 700;
        color: #f00; }
    .software__text_sub {
      margin: 50px 0; }

.news {
  width: 100%;
  padding: 50px 10%;
  text-align: end; }
  .news__title {
    font-size: 2.625rem;
    font-weight: 800;
    text-align: center; }
  .news__list {
    width: 100%;
    padding: 40px 0 20px;
    display: flex;
    justify-content: space-between; }
    .news__list_box {
      width: 32%;
      text-align: start; }
    .news__list_img {
      width: 100%;
      height: 270px;
      margin-bottom: 10px;
      background: url("../img/NEWS00.png") no-repeat center/cover;
      position: relative; }
      .news__list_img::before {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: .5s; }
      .news__list_img:hover::before, .news__list_img:hover .plus {
        visibility: visible;
        opacity: 1; }
    .news__list_sub {
      color: #666; }
    .news__list_title {
      margin: 20px 0;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 2rem;
      word-break: keep-all; }
    .news__list_date {
      font-size: 0.9375rem;
      color: #999; }
  .news .more {
    width: 120px; }

/*# sourceMappingURL=style.css.map */
